.s-connect {
  &__body {
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--primary);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include laptop-min {
      grid-template-columns: 1fr;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include laptop-min {
      height: 400px;
    }
    @include tablet-min {
      height: 240px;
    }
  }
  &__main {
    @include flex-center;
    padding: 65px 20px;
    color: white;
    @include laptop-min {
      padding: 32px 16px;
    }
  }
  &__main-inside {
    max-width: 545px;
    width: 100%;
  }
  &__title {
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.02em;
    margin: 0px 0px 32px 0px;
  }
  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .input-control {
      @include tablet {
        grid-column: 2 span;
      }
    }
  }
  &__form-submit {
    width: 100%;
    grid-column: 2 span;
    border-radius: 8px !important;
  }
  &__form-policy {
    font-size: 12px;
    line-height: 133%;

    a {
      text-decoration: underline;
      transition: opacity 0.2s ease;
      @include hover {
        opacity: 0.7;
      }
    }
  }
  &__main-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    border-top: 1px solid white;
    padding-top: 32px;

    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: -0.02em;
    @include tablet {
      flex-direction: column;
      text-align: center;
    }
  }
  &__main-tel {
    font-weight: 600;
    font-size: 32px;
    line-height: 75%;
    background: linear-gradient(45deg, #5c5de7 0%, #ff6f91 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }
    @include tablet {
      font-size: 30px;
      line-height: 100%;
    }
  }
}
