<section class="intro">
  <div class="container">
    <div class="intro__body">
      <div class="intro__subcontent">
        Открой иврит с IvritOr — и откроется Израиль
      </div>
      <h1 class="intro__title">
        Иврит по настоящему. Погрузись в язык — начни
        <span>новую жизнь!</span>
      </h1>
      <a href="#s-consult" class="btn-s intro__btn _linear">Консультация</a>
      <ul class="list intro__list">
        <li>Иврит с нуля до уверенного общения</li>
        <li>Уютные группы до 6 человек</li>
        <li>Учитесь тогда, когда вам удобно</li>
        <li>Баланс между учёбой и отдыхом</li>
      </ul>
      <img src="@img/intro-img.png" alt="image" class="intro__img">
    </div>
  </div>
</section>
