<section class="s-about sect-m">
  <div class="container">
    <h3 class="s-about__subtitle">Курсы различных уровней</h3>
    <h2 class="s-title s-about__title">
      Что включает каждый уровень обучения и как выбрать подходящий
      <span>именно вам?</span>
    </h2>
    <div class="s-about__grid">
      <div class="s-about__item">
        <h5 class="s-about__item-title">АЛЕФ/ АЛЕФ+</h5>
        <p class="s-about__item-content">
          Для кого: для тех, кто только начинает учить иврит или знает совсем
          немного (буквы, отдельные слова).
        </p>
      </div>
      <div class="s-about__item">
        <h5 class="s-about__item-title">АЛЕФ/ АЛЕФ+</h5>
        <p class="s-about__item-content">
          Для кого: для тех, кто только начинает учить иврит или знает совсем
          немного (буквы, отдельные слова).
        </p>
      </div>
      <div class="s-about__item">
        <h5 class="s-about__item-title">АЛЕФ/ АЛЕФ+</h5>
        <p class="s-about__item-content">
          Для кого: для тех, кто только начинает учить иврит или знает совсем
          немного (буквы, отдельные слова).
        </p>
      </div>
    </div>
    <div class="s-about__wrapper" id="s-test">
      <h2 class="s-about__test-title">Узнайте свой уровень за 10 минут пройдите <div><span>бесплатный созвон с преподавателем</span></div></h2>
      <a href="tel:123123" class="btn-s _linear s-about__test-btn">Пройти тест</a>
      <img src="@img/about-test.png" alt="image" class="s-about__test-img">
    </div>
  </div>
</section>
