<section class="s-consult sect-m" id="s-consult">
  <div class="container">
    <h2 class="s-title _center">Оставь заявку на консультацию</h2>
    <div class="s-consult__grid">
      <div class="s-consult__item">
        <img src="@img/laptop.svg" alt="icon" class="s-consult__item-icon" />
        <div class="s-consult__item-body">
          <h5 class="s-consult__item-title">Учитесь из любой точки мира</h5>
          <p class="s-consult__item-content">
            онлайн-формат позволяет подключаться к урокам, где бы вы ни были:
            дома, в отпуске или в командировке.
          </p>
        </div>
      </div>
      <div class="s-consult__item">
        <img src="@img/laptop.svg" alt="icon" class="s-consult__item-icon" />
        <div class="s-consult__item-body">
          <h5 class="s-consult__item-title">Учитесь из любой точки мира</h5>
          <p class="s-consult__item-content">
            не нужно тратить время на дорогу, всё обучение проходит в комфортной
            онлайн-среде, в привычной обстановке.
          </p>
        </div>
      </div>
    </div>
    <a href="tel:1312" class="btn-s s-consult__btn _linear">Записаться</a>
  </div>
</section>
