<section class="s-connect sect-m">
  <div class="container">
    <div class="s-connect__body">
      <img src="@img/connect.jpg" alt="image" class="s-connect__img" />
      <div class="s-connect__main">
        <div class="s-connect__main-inside">
          <h2 class="s-title s-connect__title">Зaпиcь oнлaйн</h2>
          <p class="s-connect__content">
            Просто свяжитесь с нами любым удобным способом
          </p>
          <form action="#" class="s-connect__form">
            <div class="input-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="input-control">
              <input type="tel" placeholder="Телефон" class="input" />
            </div>
            <button class="btn-s _linear s-connect__form-submit">
              Записаться
            </button>
          </form>
          <p class="s-connect__form-policy">
            ​Нажимая на кнопку «Отправить», вы соглашаетесь с нашей
            <a href="#" target="_blank">политикой конфиденциальности</a>
          </p>
          <div class="s-connect__main-footer">
            <span>Звоните нам прямо сейчас</span>
            <a href="tel:050-2345-591" class="s-connect__main-tel">
              050-2345-591
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
